<h3>filtre clientes por </h3>
<select name="filtre" id="filter">
  <option value="Carnivoro">Carnivoro</option>
  <option value="Vegetariano">Vegetariano</option>
  <option value="Vegano">Vegano</option>
  <option value="Sem glutem">Sem glutem</option>
</select>
<button id= "theButton">filtrar</button>
<canvas id="myChart" width="400" height="400"></canvas>
<script src="/javascripts/script.js"></script>