
<section class = "pages row">
  <div class="main-pages col-md-5">
<img class="logo" src="/images/logo.png" alt="" srcset="">
<h2 class ="header-main-section1">Refeições saudáveis para toda a família</h2>
<div class="container col-md-8">
<h2 class ="header-small-section1">que tal se cadastrar e receber um desconto na sua primeira compra?</h2>
 

  <form id="new-client-form">
    <div class="alert alert-success" role="alert" id="successMsg" style="display: none;">
      Parabéns!!! O seu cadastro foi realizado com sucesso.
    </div>
    <div class="alert alert-warning" role="alert" id="duplicatedMsg" style="display: none;">
      Fique tranquilo, você já está cadastrado!!!
    </div>
    <div class="alert alert-danger" role="alert" id="errorMsg" style="display: none;">
      Opss algo de errado aconteceu! Tente novamente mais tarde! Ou entre em contato conosco.
    </div>
    <div class="form-group">
      
      <input type="text" class="form-control imputs" id="InputName1" name="name" placeholder="Nome" required>
    </div>
    <div class="form-group">
 
      <input type="email" class="form-control imputs" id="InputEmail" name="email" aria-describedby="emailHelp" placeholder="Email"
        required>
     
    </div>
     <div class="form-group">
 
      <input type="number" class="form-control imputs" id="InputNumberAdults" name="adults" placeholder="Adultos" required>
    </div>
     <div class="form-group">
     
      <input type="number" class="form-control imputs" id="InputNumberChildrens" name="childrens" placeholder="Crianças" required>
    </div>
    <div class="form-group preferences ">
      <label for="preferences-text categories ">Preferencias </label>
      <br>
      <div class="form-check form-check-inline">
        <input class="preferences-text form-check-input the-categories"  type="checkbox" id="inlineCheckbox" name="categories" value="carnivoro">
        <label class="form-check-label" for="inlineCheckbox1">Vegetariano</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input the-categories preferences-text" type="checkbox" id="inlineCheckbox" name="categories" value="vegetariano">
        <label class="form-check-label" for="inlineCheckbox2">Vegano</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input the-categories preferences-text" type="checkbox" id="inlineCheckbox" name="categories" value="vegano">
        <label class="form-check-label" for="inlineCheckbox3">Low-Carb</label>
      </div>

    </div>
    <button id="btn-submit" type="submit" class="form-button btn btn-primary btn-lg btn-block">Receber 20%</button>

  </form>
</div>
</div>

</section>
 <section class="features12 cid-rFdjdzTEVO" id="features12-0">

  <div class="container">
    <h3 class="text-center-header-small mb-1">BENEFÍCIOS</h3>
      <h1 class="text-center-header-big mb-3">Por que a Nhack?</h1>

    <div class="media-container-row pt-5">
      <div class="block-content align-right">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-upload mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style">
                EMBALAGENS</h4>
            </div>
          </div>

          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style">
              Nossas embalagens são livres de Bisfenol
            </p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-drag-n-drop2 mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style">
                ORGÂNICOS</h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style">
              Todos os alimentos utilizados são orgânicos e frescos
            </p>
          </div>
        </div>
      </div>

      <div class="mbr-figure" style="width: 55%;">
        <img src="/images/ilustracao.mesa.svg" alt="Familia a mesa" title="">
      </div>

      <div class="block-content align-left">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-features mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                FACILIDADE</h4>
            </div>
          </div>

          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              É fácil e rápido, apenas esquentar e comer.
            </p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-sites mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                SABOR CASEIRO</h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              Sabor de comida feita em casa, preparado com todo amor e cuidado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="red-section container lsm-container">
  <div class="row image-red">
    <div class="col-sm-12 text-center mt-3"><h3 class="green-text" >PARA OS PEQUENOS</h3>
      <h1>Opções Kids</h1></div>
    <div class="col-md-4 col-sm-12 text-center p-2"><img class="img-fluid p-2" src="/images/kidsgif1.gif" alt=""><h1 class="text-center text-white">Sabores
        simples e gostosos</h1></div>
    <div class="col-md-4 col-sm-12 text-center p-2"><img class="img-fluid p-2" src="/images/gif2.gif" alt=""><h1 class="text-center text-white">Colorido
        na medida certa</h1></div>
    <div class="col-md-4 col-sm-12 text-center p-2"><img class="img-fluid p-2" src="/images/kidsgif3.gif" alt=""><h1 class="text-center text-white">Diversidade
        de acompanhamentos</h1></div>
    <div class="col-sm-12 text-center mb-5 p-5"><p class="text-center text-white">“Pensamos em marmitas kids com tamanhos adaptados e valor
        nutricional
        adequado para cada fase da infância, ao mesmo tempo que consegue estimular a alimentação saudável.”
      </p>
    </div>
  </div>
</div>
<section class="carrosel"> 
<div class="container-fluid">
  <h3 class="text-center-header-small mb-1">DESTAQUE</h3>
  <h1 class="text-center-header-big mb-3">conheça os pratos mais vendidos</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/peixe.png" alt="Card image cap">
         
           
            
      <p class="card-text"><small class="text-muted">peixe</small></p>
            <p class="text-black"><small class="text-muted">saint-peter com ervas e salada</small></p>
        </div>
      </div>
      
      
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/kids.png" alt="Card image cap">
         
            
          <p class="card-text"><small class="text-muted">kids</small></p>
              <p class="text-black"><small class="text-muted">strogonof de frango, arroz integral e salada</small></p>
        </div>
      </div>
   
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/carne.png" alt="Card image cap">
        
           
            
                        <p class="card-text"><small class="text-muted">carne</small></p>
              <p class="text-black"><small class="text-muted">iscas de file mignon e arroz integral</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/massa-vegetriano.png" alt="Card image cap">
         
            
            
            <p class="card-text"><small class="text-muted">vegetariano</small></p>
               <p class="text-black"><small class="text-muted">Ravioli integral de mussarela de bufala</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/vegetariano1.png" alt="Card image cap">
         
            
            
            <p class="card-text"><small class="text-muted">vegetariano</small></p>
               <p class="text-black"><small class="text-muted">hambúrguer de ervilha e risoto</small></p>
        </div>
      </div>
   </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>
{{!-- green --}}

<div class="green-section container lsm-container">
  <div class="row image-green">
    <div class=" col-sm-12 text-center mt-3"><h3 class="green-text">KITS</h3>
      <h1>Combos</h1></div>
    <div class="col-md-4 col-sm-12 text-center p-2">
      <div class="container-lsm m-5">
        <img class="img-fluid p-2 image-lsm" src="/images/combo1.png" alt="">
        <div class="middle-lsm">
          <div class="text-lsm"><h1>MEU COMBO</h1><h2>Marmitas individuais para 5 dias.</h2></div>
        </div>
      </div>
      <br><button class="btn mt-3 btn-primary
        form-button pl-5 pr-5 mb-5">Comprar</button></div>
    <div class="col-md-4 col-sm-12 text-center p-2">
      <div class="container-lsm m-5">
        <img class="img-fluid p-2 image-lsm" src="/images/combo2.png" alt="">
        <div class="middle-lsm">
          <div class="text-lsm"><h1>NOSSO COMBO</h1><h2>Marmitas para até 4 pessoas</h2></div>
        </div>
      </div>
      <br><button class="btn mt-3 btn-primary
        form-button pl-5 pr-5 mb-5">Comprar</button></div>
    <div class="col-md-4 col-sm-12 text-center p-2">
      <div class="container-lsm m-5">
        <img class="img-fluid p-2 image-lsm" src="/images/combo3.png" alt="">
        <div class="middle-lsm">
          <div class="text-lsm"><h1>COMBO DELES</h1><h2>Marmitas para 5 dias no tamanho kids</h2></div>
        </div>
      </div>
      <br><button class="btn mt-3 btn-primary
        form-button pl-5 pr-5 mb-5">Comprar</button></div>
  </div>
</div>

<div class="mt-2">
  <div class="mt-5 mb-3 d-flex flex-column align-items-center">
    <h4>ENTREGAS</h4>
    <h2>Quer ainda mais praticidade?</h2>
    <p>Na Nhack Foods além de ser possível retirar as marmitas, você pode agendar uma hora e data para receber as marmitas e nós cuidamos da entrega.</p>
    <p>Abaixo você pode analisar as opções disponíveis.</p>
  </div>
  <div id="my-map"></div>
</div>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 footer-image bg-white">
</footer>
<footer class="pt-2 pb-2 pl-5 pr-5 bg-white"><div class="row d-flex align-items-center bg-white">
    <div class="pl-5 col-5">

      <div class="text-center text-md-left">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <img src="/images/instagram.svg" alt="instagram icon">
          </li>
          <li class="list-inline-item">
            <img src="/images/facebook.svg" alt="facebook icon">
          </li>
          <li class="list-inline-item">
            <img src="/images/world.svg" alt="world icon">
          </li>

        </ul>
      </div>

    </div>
    <div class="pr-5 col-7">


      <p class="text-center text-md-right">copyright - Genki Foods

      </p>

    </div>

  </div></footer>
<!-- Footer -->

<link rel="stylesheet" href="/stylesheets/mbr.css">
<style>#my-map{width: 100vw;height: 65vh;}
{{!-- css para section beneficios --}}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body{
  font-size:62.5% ;
  background-color: #E6E5EA;
}

.font-bene{
font-family: 'Raleway', sans-serif;
color:#444249;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

}
.font-noto{
  font-family: 'Noto Sans', sans-serif;
font-size: 36px;
line-height: 49px;
letter-spacing: 0.135rem;
}

  .figure-mesa {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.footer-image{
  background-image: url("/images/footerImage.png");
  height: 330px;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
}
@media (min-width: 992px) {
   .figure-mesa {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  


}
@media (max-width: 991px) {
   .figure-mesa {
    margin-bottom: 2rem;
  }
.pages{
   background-image: url("/images/imagem.mobile.png");
}
  
}
@media (max-width: 991px) and (min-width: 768px) {
   .figure-mesa {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  </style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo2tQ8xPW-phyfVy2H2pbxnvyqXjIVRVk">
  </script>
<script>
    window.onload = () => {
  const mapPos = {
    lat: -23.5492497, 
    lng: -46.6328752
  };
  
  var markers = []
  
  const map = new google.maps.Map(document.getElementById('my-map'), {
    zoom: 12,
    center: mapPos 
  });
  
  const places = [{name: "Ironhack",radius: 3,location:{coordinates:[-46.6601914,-23.5617714]}},{name: "Brooklin",radius: 2.4,type:"aqui2",location:{coordinates:[-46.68134,-23.6160292]}},
  {name: "Vila Formosa",radius: 5,location:{coordinates:[-46.5574491,-23.5568724]}}]
  
  placesOnMay(places)
////////////////////////////////////

      
////////////////////////////////////
function placesOnMay(places){
  console.log(places)
    places.forEach(function(place){
      const center = {
        lat: place.location.coordinates[1],
        lng: place.location.coordinates[0]
      };
      const pin = new google.maps.Marker({
        position: center,
        map: map,
        title: place.name
      });
          
const redCircle=  new google.maps.Circle({
            strokeColor: '#F00',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#F00',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius*1.6 * 1000
          });
          showHideCircle(map,redCircle,pin);
       const yellowCircle=     new google.maps.Circle({
            strokeColor: '#eebe36',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#eebe36',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius*1.3 * 1000
          });
          showHideCircle(map,yellowCircle,pin);
  const greenCircle=    new google.maps.Circle({
            strokeColor: '#0F0',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#0F0',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius * 1000
          });
         showHideCircle(map,greenCircle,pin);
const contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            `<h4 id="firstHeading" class="firstHeading">Unidade: <b>${place.name}</b></h4>`+
            '<div id="bodyContent">'+
            `<p style="color:#0f0;">Raio de Entrega Grátis: <b> ${place.radius} km</b></p>`+
            `<p style="color:#eebe36;">Raio de Entrega R$ 5,00: <b> ${Math.round(place.radius*13)/10} km</b></p>`+
            `<p style="color:#f00;">Raio de Entrega R$ 15,00: <b> ${Math.round(place.radius*16)/10} km</b></p>`+
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        });
        pin.addListener('click', function() {
          infowindow.open(map, pin);
        });
        function showHideCircle(map, circle) {
        google.maps.event.addListener(pin, 'mouseout', function () {
        circle.setOptions({fillOpacity:0, strokeOpacity:0});
        });
          google.maps.event.addListener(pin, 'mouseover', function () {
        circle.setOptions({fillOpacity: 0.45, strokeOpacity:0.9});
        });
}
      markers.push(pin);
    });
}
};
  </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script src="/javascripts/scriptDesign.js"></script>
