<h1>{{title}}</h1>
<section class = "pages">
<h1>Cadastre seu e-mail e seus gostos</h1>
<div class="container">
  <form id="new-client-form">
    <div class="alert alert-success" role="alert" id="successMsg" style="display: none;">
      Parabéns!!! O seu cadastro foi realizado com sucesso.
    </div>
    <div class="alert alert-warning" role="alert" id="duplicatedMsg" style="display: none;">
      Fique tranquilo, você já está cadastrado!!!
    </div>
    <div class="alert alert-danger" role="alert" id="errorMsg" style="display: none;">
      Opss algo de errado aconteceu! Tente novamente mais tarde! Ou entre em contato conosco.
    </div>
    <div class="form-group">
      <label for="InputName">Name</label>
      <input type="text" class="form-control the-name" id="InputName1" name="name" placeholder="Enter your Name" required>
    </div>
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input type="email" class="form-control the-email" id="InputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter your email"
        required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="categories">Você é: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input the-categories" type="checkbox" id="inlineCheckbox" name="categories" value="carnivoro">
        <label class="form-check-label" for="inlineCheckbox1">Carnívoro</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input the-categories" type="checkbox" id="inlineCheckbox" name="categories" value="vegetariano">
        <label class="form-check-label" for="inlineCheckbox2">Vegetariano</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input the-categories" type="checkbox" id="inlineCheckbox" name="categories" value="vegano">
        <label class="form-check-label" for="inlineCheckbox3">Vegano</label>
      </div>

    </div>
    <button id="btn-submit" type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
</section>
<section class="carrosel"> 
<div class="container-fluid">
  <h3 class="text-center-header-small mb-1">DESTAQUE</h3>
  <h1 class="text-center-header-big mb-3">conheça os pratos mais vendidos</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
         
           
            
            <p class="card-text"><small class="text-muted">vegan</small></p>
               <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
       
            
           
            <p class="card-text"><small class="text-muted">vegan</small></p>
              <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
         
            
           
            <p class="card-text"><small class="text-muted">vegan</small></p>
              <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
         
          
            
            <p class="card-text"><small class="text-muted">vegan</small></p>
            <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
        
           
            
            <p class="card-text"><small class="text-muted">vegan</small></p>
              <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
         
            
            
            <p class="card-text"><small class="text-muted">vegan</small></p>
               <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">
         
            
            
            <p class="card-text"><small class="text-muted">vegan</small></p>
               <p class="text-black"><small class="text-muted">omelete</small></p>
        </div>
      </div>
   </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>
<section class="kidsOption">
    <h3 class="text-center-header-small mb-1">NOVIDADE</h3>
  <h1 class="text-center-header-big mb-3">Opções Kids</h1>
  <div class = "kids-main row">
<div class="col-lg-6">
<h1 class="kids-text">Valor nutricional adequado </h1>
<h1 class="kids-text">Sabor da comida da vovó </h1>
<h1 class="kids-text">Tamanhos adequados </h1>
</div>
<div class="kids-image col-lg-6">
<img src="/images/plateIlustration.svg" alt="" srcset="">
</div>
  </div>



</section>


        
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script src="/javascripts/scriptDesign.js"></script>
