 <section class="features12 cid-rFdjdzTEVO" id="features12-0">





  <div class="container">
    <h2 class="mbr-section-title pb-2 mbr-fonts-style font-bene text-center">BENEFÍCIOS</h2>
    <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style font-bene text-center font-sato">
      Por que a Nhack?</h3>

    <div class="media-container-row pt-5">
      <div class="block-content align-right">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-upload mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title font-bene">
                EMBALAGENS</h4>
            </div>
          </div>

          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style">
              Nossas embalagens são livres de Bisfenol
            </p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-drag-n-drop2 mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style">
                ORGÂNICOS</h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style">
              Todos os alimentos utilizados são orgânicos e frescos
            </p>
          </div>
        </div>
      </div>

      <div class="mbr-figure" style="width: 55%;">
        <img src="/images/ilustracao.mesa.svg" alt="Familia a mesa" title="">
      </div>

      <div class="block-content align-left">
        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-features mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                FACILIDADE</h4>
            </div>
          </div>

          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              É fácil e rápido, apenas esquentar e comer.
            </p>
          </div>
        </div>

        <div class="card pl-3 pr-3 pb-5">
          <div class="mbr-card-img-title">
            <div class="card-img pb-3">
              <span class="mbri-sites mbr-iconfont"></span>
            </div>
            <div class="mbr-crt-title">
              <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                SABOR CASEIRO</h4>
            </div>
          </div>
          <div class="card-box">
            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
              Sabor de comida feita em casa, preparado com todo amor e cuidado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-2">
  <div class="mt-5 mb-3 d-flex flex-column align-items-center">
    <h4>ENTREGAS</h4>
    <h2>Quer ainda mais praticidade?</h2>
    <p>Na Nhack Foods além de ser possível retirar as marmitas, você pode agendar uma hora e data para receber as marmitas e nós cuidamos da entrega.</p>
    <p>Abaixo você pode analisar as opções disponíveis.</p>
  </div>
  <div id="my-map"></div>
</div>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 footer-image bg-white">
</footer>
<footer class="pt-2 pb-2 pl-5 pr-5 bg-white"><div class="row d-flex align-items-center bg-white">
    <div class="pl-5 col-5">

      <div class="text-center text-md-left">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <img src="/images/instagram.svg" alt="instagram icon">
          </li>
          <li class="list-inline-item">
            <img src="/images/facebook.svg" alt="facebook icon">
          </li>
          <li class="list-inline-item">
            <img src="/images/world.svg" alt="world icon">
          </li>

        </ul>
      </div>

    </div>
    <div class="pr-5 col-7">


      <p class="text-center text-md-right">copyright - Genki Foods

      </p>

    </div>

  </div></footer>
<!-- Footer -->

<link rel="stylesheet" href="/stylesheets/mbr.css">
<style>#my-map{width: 100vw;height: 65vh;}
{{!-- css para section beneficios --}}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body{
  font-size:62.5% ;
  background-color: #E6E5EA;
}

.font-bene{
font-family: 'Raleway', sans-serif;
color:#EC4C46;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

}
.font-noto{
  font-family: 'Noto Sans', sans-serif;
font-size: 36px;
line-height: 49px;
letter-spacing: 0.135rem;
}

  .figure-mesa {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.footer-image{
  background-image: url("/images/footerImage.png");
  height: 330px;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
}
@media (min-width: 992px) {
   .figure-mesa {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
   .figure-mesa {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
   .figure-mesa {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  </style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo2tQ8xPW-phyfVy2H2pbxnvyqXjIVRVk">
  </script>
<script>
    window.onload = () => {
  const mapPos = {
    lat: -23.5492497, 
    lng: -46.6328752
  };
  
  var markers = []
  
  const map = new google.maps.Map(document.getElementById('my-map'), {
    zoom: 12,
    center: mapPos,
    disableDefaultUI: true,
    gestureHandling: 'none',
          zoomControl: false
 
  });
  
  const places = [{name: "Ironhack",radius: 3,location:{coordinates:[-46.6601914,-23.5617714]}},{name: "Brooklin",radius: 2.4,type:"aqui2",location:{coordinates:[-46.68134,-23.6160292]}},
  {name: "Vila Formosa",radius: 5,location:{coordinates:[-46.5574491,-23.5568724]}}]
  
  placesOnMay(places)
////////////////////////////////////

      
////////////////////////////////////
function placesOnMay(places){
  console.log(places)
    places.forEach(function(place){
      const center = {
        lat: place.location.coordinates[1],
        lng: place.location.coordinates[0]
      };
      const pin = new google.maps.Marker({
        position: center,
        map: map,
        title: place.name
      });
          
const redCircle=  new google.maps.Circle({
            strokeColor: '#F00',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#F00',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius*1.6 * 1000
          });
          showHideCircle(map,redCircle,pin);
       const yellowCircle=     new google.maps.Circle({
            strokeColor: '#eebe36',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#eebe36',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius*1.3 * 1000
          });
          showHideCircle(map,yellowCircle,pin);
  const greenCircle=    new google.maps.Circle({
            strokeColor: '#0F0',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#0F0',
            fillOpacity: 0,
            map: map,
            center: center,
            radius: place.radius * 1000
          });
         showHideCircle(map,greenCircle,pin);
const contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            `<h4 id="firstHeading" class="firstHeading">Unidade: <b>${place.name}</b></h4>`+
            '<div id="bodyContent">'+
            `<p style="color:#0f0;">Raio de Entrega Grátis: <b> ${place.radius} km</b></p>`+
            `<p style="color:#eebe36;">Raio de Entrega R$ 5,00: <b> ${Math.round(place.radius*13)/10} km</b></p>`+
            `<p style="color:#f00;">Raio de Entrega R$ 15,00: <b> ${Math.round(place.radius*16)/10} km</b></p>`+
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        });
        pin.addListener('click', function() {
          infowindow.open(map, pin);
        });
        function showHideCircle(map, circle) {
        google.maps.event.addListener(pin, 'mouseout', function () {
        circle.setOptions({fillOpacity:0, strokeOpacity:0});
        });
          google.maps.event.addListener(pin, 'mouseover', function () {
        circle.setOptions({fillOpacity: 0.45, strokeOpacity:0.9});
        });
}
      markers.push(pin);
    });
}
};
  </script>